meta(charset="utf-8")

title= pkg.description

meta(name='author', content=pkg.author.name)

meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
meta(name='viewport', content='width=device-width, initial-scale=1.0')

link(rel="stylesheet",  href="./main.css")

link(rel="icon", type="image/x-icon", href="http://denysdovhan.com/favicon.ico")

meta(property="og:site_name" content=pkg.description)
meta(property="article:author" content=pkg.author.name)
  
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@denysdovahn")
