doctype html
html(dir='LTR' lang='en')
  head
    include head

  body
    main.main-content!= content

    footer.site-footer
      a(href="http://denysdovhan.com") (͠◉_◉᷅ )
      
    include analytics
